{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>


	<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <meta charset="UTF-8">
    <title>d^ranker</title>
</head>
<body>
{% if user.is_authenticated %}

{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}"><b>d^ranker</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
{#          <a class="nav-item nav-link" href="#">Features</a>#}
{#          <a class="nav-item nav-link" href="#">Pricing</a>#}
{#          <a class="nav-item nav-link disabled" href="#">Disabled</a>#}
        </div>
      </div>
    </nav>
{% endif %}
    {% block content %}{% endblock content %}
</body>
</html>